// Raleway

@font-face {
  font-family: 'raleway_l';
  src: url('../fonts/Raleway/static/Raleway-ExtraLight.ttf');
}

@font-face {
  font-family: 'raleway_r';
  src: url('../fonts/Raleway/static/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'raleway_b';
  src: url('../fonts/Raleway/static/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'raleway_i';
  src: url('../fonts/Raleway/static/Raleway-Italic.ttf');
}

@font-face {
  font-family: 'raleway_bi';
  src: url('../fonts/Raleway/static/Raleway-BoldItalic.ttf');
}

// Poiret One

@font-face {
  font-family: 'poiret_r';
  src: url('../fonts/Poiret_One/PoiretOne-Regular.ttf');
}

// Playfair Display

@font-face {
  font-family: 'playfair_r';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'playfair_i';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}
