@use 'palette' as p;

.font_black {
  color: p.$my_black;
}

.font_white {
  color: p.$my_white;
}

.font_light_base {
  font-family: 'raleway_l', sans-serif;
}

.font_regular_base {
  font-family: 'raleway_r', sans-serif;
}

.font_bold_base {
  font-family: 'raleway_b', sans-serif;
}

.font_italic_base {
  font-family: 'raleway_i', sans-serif;
}

.font_bold_italic_base {
  font-family: 'raleway_bi', sans-serif;
}
