# Ignore node modules directory
node_modules/
.pnpm-store/

# Ignore VS Code configs
.vscode/

# Ignore css directory (css is built before deploy)
css/

# Ignore workspace file
homepage-bulma.code-workspace